.projectsWrapper {
  scroll-margin-top: 6em;
  font-size: 34px;
}

.projTitle {
  padding: 20px 0 0 0;
  margin: 0 50px 10px 50px;
  font-size: 1em;
  text-align: center;
}

.projFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.projCard {
  /* background-color: #142f43; */
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* box-shadow: 4px 4px 8px black; */
}

.projCard img {
  width: 100%;
  height: 260px;
  box-shadow: 0px 0px 12px gray;
  border: 2px solid gray;
}

.projCard img:hover {
  /* animation: tilt 0.4s; */
}

.projDetails {
    padding-top: 10px;
}

.projCard p {
  font-size: 0.4em;
  letter-spacing: 1.5px;
  /* padding: 20px 5px; */
  align-self: flex-start;
}

.projCard p strong {
  font-size: 1.2em;
  color: #f44336;
  padding-bottom: 4px;
}

.projLinks {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.projLinks a,
.projLinks p {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  transition: all 0.4s;
  margin: 0 5%;
  font-size: 0.5em;
}

.projLinks a:hover {
  color: red;
  border: none;

  border: 2px solid red;
}

/* Responsiveness */

@media only screen and (max-width: 700px) {
  .projCard p {
    font-size: 0.5em;
    line-height: 24px;
  }
}
