.skillSection {
  /* background-color: #142f43; */
  padding: 20px 0 30px 0;
  scroll-margin-top: 5em;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  transition: all 0.5s;
}

.skillCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  /* box-shadow: 0px 0px 4px black; */
  margin: 0 10px 10px 10px;
  border: 1px solid gray;
  width: 25%;
  transition: all 0.5s;
  font-size: 24px;
}

.skillIcon {
  background-color: #ef5350;
  width: 64px;
  height: 64px;
  font-size: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillIcon svg {
  padding: 4px;
}

.skillCard .skillInfo {
    color: red;
    font-size: 0.8em;
    padding: 0;
}

.skillCard:hover {
  transform: skew(-2deg);
  box-shadow: 0px 0px 4px black;
}

.skillCard h4 {
  padding: 20px 0 4px 0;
  letter-spacing: 2px;
}

.skillCard p {
  padding: 16px 10px;
  line-height: 24px;
  font-weight: 450;
  font-size: 0.7em;
}

@media only screen and (max-width: 900px) {
  .skillsContainer {
    flex-direction: column;
    align-items: center;
  }

  .skillCard {
    width: 80%;
  }

  .skillCard p {
    /* font-size: 16px; */
  }
}
