.contactSection {
    margin-top: 20px;
    width: 100%;
    background-color: blanchedalmond;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 30px 0;
    scroll-margin-top: 4em;
}

.contactSection h1 {
    color: black;
    padding: 20px 0 ;
    margin: 0 50px 20px 50px;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px black solid;
}

.contactSection p {
    font-size: 18px;
    margin: 10px 0;
}

.contactsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.contactsContainer a {
    margin: 0 5px;
}

.contactsContainer a svg {
    font-size: 34px;
    color: #142f43;
    transition: all 0.5s;
}

.contactsContainer a svg:hover {
    color: red;
}


.contactFlex {
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr;
    grid-gap: 20px;

    background-color: #142f42;
    padding: 20px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

input,textarea {
    background-color: white;
    color: black;
    border: none;
    padding: 4px;
}

button {
    font-size: 16px;
    transition: all 0.5s;
    border: none;

}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 81, 81);
    border: none;
}