nav {
    padding: 0 20px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.interactContainer {
    display: flex;
    
}

.interactContainer p {
    margin: 0 10px;
    font-size: 2vh;
}

