footer {
    background-color: #071a27;
    padding: 20px 0;
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    transition: all 0.5s
}

footer a:hover {
    color: red;
}